table {
border-collapse: collapse;
border: 0.05em solid black;
border-radius: 5em / 5em;
background-color: #eddb4c;
}

table caption {
font-weight: bold;
font-size: 125%;
text-transform: uppercase;
}

.footnote {
font-size: 75%;
color: #666;
}

table caption,
table th,
table td,
.footnote {
font-family: Arial, Helvetica, sans-serif;
padding: .5em;
}

table td {
border: solid 1px #C35E4D;
}

table tbody th {
color: #630;
border-bottom: solid 1px #C35E4D;
}

table thead th {
background: #f7ce73;
border-bottom: solid 3px #E75D49;
}

.spreadsheet {
margin-bottom: 50px;
}

th span:hover {
cursor: hand;
cursor: pointer;
color: white;
background-color: #630;
}