.numeric-keypad {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 300px;
  grid-template-rows: 150px 150px 150px 150px 100px;
  font-size: 45px;
  
}

.numeric-keypad > div {
    cursor: grab;
}


#display{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color :lightgreen;
     font-size: 45px;
     border:1px;
}

#huis{
  grid-column-start:5;
  grid-row-start :2;
  grid-row-end :5;
  background-color: antiquewhite;
}

#dak {
  grid-column-start:5;
  grid-row-start :1;
  grid-row-end :2;
  width: 0; 
  height: 0; 
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 150px solid green;
}


